Flask==3.0.3
Flask-MySQLdb==2.0.0
python-dotenv==1.0.1
Werkzeug==3.0.1
itsdangerous==2.1.2
email-validator==2.1.1
google-generativeai==0.4.2
whisper==1.1.10
soundfile==0.12.1
kokoro==0.0.7
numpy==1.26.4
mysqlclient==2.2.4